.chat-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;

  &__header {
    font-size: 2rem;
    margin-top: 2rem;
  }

  &__no-messages {
    font-size: 1.2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
