@use "variables" as vars;
//Default resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: vars.$font-primary;
  background-color: vars.$color-bg;
  color: vars.$color-text-primary;
}
a {
  text-decoration: none;
  color: inherit;
}
