//COLORS
$color-brand: #57419D;
$color-secondary: #7878AB;
$color-bg: #F5F5FA;
$color-text: #333333;
$color-text-primary: #F5F5FA;
$color-text-secondary: #828282;
$color-text-header: #333333;
$color-favourite: #FF4B33;
//FONT(S)
$font-primary: 'Lato', sans-serif;

//SIZE(S)
$font-size-header-large: 24px;
$font-size-header: 20px;
$font-size-base: 16px;
$font-size-small: 14px;
