//COLORS
$color-brand: #57419d;
$color-secondary: #7878ab;
$color-bg: #f5f5fa;
$color-text-primary: #4f4f4f;
$color-text-secondary: #828282;
$color-text-reverse: #f5f5fa;
$color-text-header: #333333;
$color-nav-icons: #bdbdbd;
$color-nav-icons-active: #5533ea;
$color-favourite: #ff4b33;
$color-breed: #f4b207;
$color-gender: #ff8893;

//FONT(S)
$font-primary: "Lato", sans-serif;

//SIZE(S)
$font-size-header-large: 24px;
$font-size-header: 20px;
$font-size-base: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
