@use "../../styles/variables" as vars;

.home_container {
  padding: 1.5rem;

  .home {
    padding-bottom: 6rem;

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__message {
      font-family: vars.$font-primary;
      font-size: vars.$font-size-base;
      color: vars.$color-text-secondary;
      text-align: center;
      padding: 2rem 0;
      margin: 0;

      &--error {
        color: vars.$color-favourite;
      }
    }
  }
}
