@use "../../styles/variables" as vars;

.home {
  padding-bottom: 6rem; // Space for fixed nav

  &__animals {
    padding: 0 1.5rem;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__message {
    font-family: vars.$font-primary;
    font-size: vars.$font-size-base;
    color: vars.$color-text-secondary;
    text-align: center;
    padding: 2rem 0;
    margin: 0;

    &--error {
      color: vars.$color-favourite;
    }
  }
}
