@use "../../styles/variables" as vars;

.animal-page {
  width: 100%;
  height: 85vh;
  overflow: hidden;

  &__header {
    width: 100%;
    height: 100%;
  }

  &__background {
    width: 100%;
    height: auto;
    display: block;
  }
}
