@use "../../styles/variables" as vars;

.tag-selector {
  width: calc(100% + 3rem);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 3rem 0;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  -webkit-overflow-scrolling: touch;

  // Hide scrollbar but keep functionality
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  &__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0 1.5rem;
    margin: 0;
    width: fit-content;
    min-width: 100%;
  }

  &__item {
    flex-shrink: 0;
  }

  &--loading,
  &--error {
    padding: 1rem 1.5rem;
    font-family: vars.$font-primary;
    font-size: vars.$font-size-base;
    color: vars.$color-text-secondary;
  }

  &--error {
    color: vars.$color-favourite;
  }
}
