@use "../../styles/variables" as vars;

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: vars.$color-bg;
  padding: 1rem 0 3rem;
  z-index: 100;
  border-radius: 24px 24px 0 0;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0;
    margin: 0;
    max-width: 500px;
    margin: 0 auto;
  }

  &__item {
    flex: 0 0 auto;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 7px 12px 0px #aaaacc75;
    transition: all 0.3s ease;
    text-decoration: none;
    color: vars.$color-brand;

    &:hover {
      transform: translateY(-2px);
      box-shadow: inset 4px 4px 6px 1px #cbcbe0;
    }

    &--active {
      background-color: white;
      color: #5533ea;
      transform: translateY(-2px);
      box-shadow: inset 4px 4px 6px 1px #cbcbe0;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
