@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixies;

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: vars.$color-bg;
  overflow: hidden;

  &__code {
    font-family: vars.$font-primary;
    font-size: 6rem;
    font-weight: 700;
    color: vars.$color-text-header;
    margin: 0;
    text-align: center;
    margin-top: 2rem;
  }

  &__message {
    font-family: vars.$font-primary;
    font-size: vars.$font-size-base;
    color: vars.$color-text-secondary;
    margin: 0;
    text-align: center;
  }

  &__button {
    @include mixies.button-filled(
      $bg-color: vars.$color-brand,
      $text-color: vars.$color-text-reverse
    );
    margin-top: 2rem;
    width: 84%;
    align-self: center;
  }
}
